/* VISIOGLOBE CUSTOMIZATION */

/*************************************************/
/*    Include Google's OpenSans font             */
/*************************************************/
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src:
        local('Open Sans'),
        local('OpenSans'),
        url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
        url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'Open Sans Light';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/OpenSans-Light-webfont.eot');
    src:
        local('Open Sans Light'),
        local('OpenSans Light'),
        url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Light-webfont.woff') format('woff'),
        url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/Ubuntu-Medium.ttf');
}


/*************************************************/
/*           Visioglobe overrides                */
/*************************************************/

body,table,div,p,dl,a.el {
    font-family: 'Open Sans light', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #477596;
}

h1 {
    font-size: 30px;
    line-height: 30px;
    color: #0b5e8f;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
}

h2 {
    font-size: 26px;
    padding-top: 6px;
    font-family: 'Ubuntu', sans-serif;
    color: #00c5eb;
    font-weight: 500;
}

h3 {
    color: black;
    font-size: 120%;
}

dt,a.el {
    font-weight: 500;
    color: #0b5e8f;
    font-family: 'Ubuntu';
}

div.multicol {
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

p.startli,p.startdd {
    margin-top: 2px;
}

p.endli {
    margin-bottom: 0px;
}

p.enddd {
    margin-bottom: 4px;
}

caption {
    font-weight: bold;
}

span.legend {
    font-size: 70%;
    text-align: center;
}

div.qindex,div.navtab {
    background-color: #e8eef2;
    border: 1px solid #84b0c7;
    text-align: center;
    margin: 2px;
    padding: 2px;
}

div.qindex,div.navpath {
    width: 100%;
    line-height: 140%;
}

div.navpath {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 12px;
    width: 210px;
}

div.navtab {
    margin-right: 15px;
}

a.el {
    font-weight: normal;
    text-decoration: none;
}

.contents a.el:visited {
    color: #0b5e8f;
    b {      font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #00c5eb;  }
    b {      font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #00c5eb;  }
    font-family: 'Ubuntu';
    font-weight: 500;
    color: #00c5eb;
    font-family: 'Ubuntu';
}

a.el:hover {
    text-decoration: underline;
    color: #5dd972;
}

a.qindex {
    font-weight: bold;
}

a.qindexHL {
    font-weight: bold;
    background-color: #6666cc;
    color: #ffffff;
    border: 1px double #9295C2;
}

.contents a.qindexHL:visited {
    color: #ffffff;
}

a.el {
    color: #0b5e8f;
    font-weight: 500;
    font-family: 'Ubuntu';
    color: #00c5eb;
}

dl.el {
    margin-left: -1cm;
}

div.fragment {
	border: 1px solid #CCCCCC;
    background-color: #f5f5f5;
    padding: 4px 6px;
    margin: 4px 32px 4px 4px;
}

div.line {
    font-family: Monospace, fixed;
	white-space:pre;
}

div.ah {
    background-color: black;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 5px;
}

div.groupHeader {
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: bold;
}

div.groupText {
    margin-left: 16px;
    font-style: italic;
}

body {
    background: white;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
    background-repeat: repeat-x;
}

.directory {
    overflow: hidden;
}

.contents,.directory,.MSearchBoxInactive,.navigation {
    background-color: #fff;
}

.contents {
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

address {
    display: none;
}

td.indexkey {
    background-color: #fffffe;
    font-weight: bold;
    border: 1px solid #eee;
    margin: 2px 0px 2px 0;
    padding: 2px 10px;
}

td.indexvalue {
    background-color: #fffffe;
    border: 1px solid #eee;
    padding: 2px 10px;
    margin: 2px 0px;
}

tr.memlist {
    background-color: #f0f0f0;
}

tr.odd {
    background-color: #E8EDFF;
}

p.formulaDsp {
    text-align: center;
}

img.formulaInl {
    vertical-align: middle;
}

div.center {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

div.center img {
    border: 0px;
}

img.footer {
    border: 0px;
    vertical-align: middle;
}

span.keyword {
    color: #008000;
}

span.keywordtype {
    color: #604020;
}

span.keywordflow {
    color: #e08000;
}

span.comment {
    color: #800000;
}

span.preprocessor {
    color: #806020;
}

span.stringliteral {
    color: #002080;
}

span.charliteral {
    color: #008080;
}

span.vhdldigit {
    color: #ff00ff;
}

span.vhdlchar {
    color: #000000;
}

span.vhdlkeyword {
    color: #700070;
}

span.vhdllogic {
    color: #ff0000;
}

.search {
    color: #003399;
    font-weight: bold;
}

form.search {
    margin-bottom: 0px;
    margin-top: 0px;
}

input.search {
    font-size: 75%;
    color: #000080;
    font-weight: normal;
    background-color: #e8eef2;
}

td.tiny {
    font-size: 75%;
}

.dirtab {
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid #84b0c7;
}

th.dirtab {
    background: #e8eef2;
    font-weight: bold;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #e3eaef;
}

.mdescLeft,.mdescRight,.memItemLeft,.memItemRight,.memTemplItemLeft,.memTemplItemRight,.memTemplParams {
    background-color: #f3f6f9;
    border: none;
    margin: 4px;
    padding: 2px 6px 2px 9px;
}

.memItemLeft {
    padding-left: 10px;
}

.mdescLeft,.mdescRight {
    padding: 0px 8px 4px 8px;
    color: #555;
}

.memItemLeft,.memItemRight,.memTemplParams {
    border-top: none;
}

.memItemLeft,.memTemplItemLeft {
    white-space: nowrap;
}

.memTemplParams {
    color: #606060;
    white-space: nowrap;
}

.memtemplate {
    font-size: 80%;
    color: #606060;
    font-weight: normal;
    margin-left: 3px;
}

.memnav {
    background-color: #e8eef2;
    border: 1px solid #84b0c7;
    text-align: center;
    margin: 2px;
    margin-right: 15px;
    padding: 2px;
}

.memitem {
    padding: 0px 16px 0px 16px;
    margin-bottom: 20px;
}

.memname {
    white-space: nowrap;
    font-weight: 500;
    color: #0b5e8f;
}

.memproto,.memdoc {
    border: 1px solid #e3eaef;
}

.memproto {
    padding: 0;
    background-color: #f3f6f9;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-box-shadow: none;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-box-shadow: none;
}

.memdoc {
    padding: 2px 5px;
    background-color: #fff;
    border-top-width: 0;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-box-shadow: none;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-box-shadow: none;
}

.paramkey {
    text-align: right;
}

.paramtype {
    white-space: nowrap;
}

.paramname {
    color: #00c5eb;
    white-space: nowrap;
    font-weight: 500;
    font-family: 'Ubuntu';
}

.paramname em {
    font-style: normal;
}

.ftvtree {
    font-family: sans-serif;
    margin: 0.5em;
}

.directory {
    font-size: 18px;
    font-weight: bold;
}

.directory h3 {
    margin: 0px;
    margin-top: 1em;
    font-size: 11pt;
}

.directory h3.swap {
    height: 105px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("http://www.visioglobe.com/pictures/design/logo.png");
    margin-top: 30px;
}

.directory h3.swap span {
    display: none;
}

.directory>h3 {
    margin-top: 0;
}

.directory p {
    margin: 0px;
    white-space: nowrap;
}

.directory div {
    display: none;
    margin: 0px;
}

.directory img {
    vertical-align: -30%;
}

.directory-alt {
    font-size: 100%;
    font-weight: bold;
}

.directory-alt h3 {
    margin: 0px;
    margin-top: 1em;
    font-size: 11pt;
}

.directory-alt>h3 {
    margin-top: 0;
}

.directory-alt p {
    margin: 0px;
    white-space: nowrap;
}

.directory-alt div {
    display: none;
    margin: 0px;
}

.directory-alt img {
    vertical-align: -30%;
}

address {
    font-style: normal;
    color: #333;
}

DIV.tabs A:link,DIV.tabs A:visited,DIV.tabs A:active,DIV.tabs A:hover {
    color: #4CBEFF;
}

a,a:link,a:visited,a:active {
    color: #0b5e8f;
}

a:hover {
    color: #5dd972;
}

body,table,div,p,dl {
}

body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    color: #477596;
    margin: 0;
}

#projectname {
    color: #00c5eb;
    font-size: 30px;
    left: 0;
    line-height: 94px;
    text-shadow: none;
    vertical-align: middle;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 300;
}

#projectname:before {
    background-image: url("images/logo_visioglobe_2016_dev.png");
    background-repeat: no-repeat;
    content: "";
    float: left;
    height: 94px;
    width: 180px;
    position: relative;
    right: 80px;
}

#navrow1 {
    background: #003a59;
    margin: 0;
    width: 100%;
    height: 100px;
}

#navrow1>ul {
    padding-left: 6px;
    position: relative;
    left: 870px;
    top: 21px;
}

#navrow1>ul>li {
    background: none;
    font-size: 14px;
    font-weight: bold;
}

#navrow1>ul>li>a {
    background: none;
    color: #f6fbff;
    text-shadow: none;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    margin: 10px;
    border-radius: 5px;
}

#navrow1>ul>li>a:hover {
    background: none;
    color: #5dd972;
}

#navrow1>ul>li.current>a {
    background: #00c5eb;
    color: #FFFFFF;
    text-shadow: none;
    font-weight: normal;
}

#navrow1 #MSearchBox {
    right: -185px;
    top: 12px;
}

#navrow2 {
    background: none;
    padding-left: 369px;
    padding-bottom: 10px;
    padding-top: 20px;
    /* display: none; */
}

#navrow2>ul>li {
    background: none;
}

#navrow2>ul>li a {
    background: none;
    text-decoration: none;
    text-shadow: none;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}

#navrow2>ul>li a:hover {
    background: none;
    color: #5dd972;
}

#navrow2>ul>li.current a {
    background: none;
    color: #fffffe;
    background-color: #00c5eb;
    border-radius: 5px;
}

#side-nav {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    left: inherit;
    position: absolute;
    top: 120px;
    width: 306px;
}

#side-nav #nav-tree {
    background: none;
}

#side-nav #nav-sync {
    right: 14px;
    top: 36px !important;
}

#side-nav .ui-resizable-e {
    background: none !important;
    cursor: e-resize;
    height: 100%;
    right: 0px;
    top: -16px;
    margin: 6px 0;
    border-right: 1px solid #e3eaef;
    width: 10px;
}

#doc-content {
    overflow: visible;
    margin-left: 300px !important;
    padding-left: 90px;
}

#doc-content .header {
    margin-top: 40px;
}

#doc-content .header .title {
    font-size: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-bottom: 15px;
    vertical-align: middle;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    color: #0b5e8f;
    font-weight: 500;
    padding-top: 30px;
}

#doc-content .contents {
    margin: 25px auto;
    padding: 20px;
    position: relative;
    border-top: 1px solid #e3eaef;
}

#doc-content .contents .textblock>h2 {
    border-top: none;
    color: #009BC2;
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
}

#doc-content .contents .directory {
    background: none;
    margin-top: 5px;
}

body>i {
    bottom: 3px;
    font-size: 13px;
    left: 25px;
    position: fixed;
}

#doc-content #MSearchResultsWindow {
    z-index: 1;
}

#nav-tree .label a {
    padding: 2px;
    font-size: 18px;
    font-family: 'Open Sans';
    line-height: 25px;
    color: #477596;
}

#nav-tree .item {
    margin: 0px;
    padding: 0px;
}
#nav-tree .selected {
    background-image: none;
    background-repeat: none;
    color: none;
    text-shadow: none;
}

#nav-tree .selected a {
    color: #00c5eb;
}

.tabs2 {
    font-size: 10px;
}
.tabs, .tabs2, .tabs3 {
    background-image: none;
    width: inherit;
    z-index: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
    font-weight: 700;
    line-height: 22px;
    color: #477596;
}

#navrow3 {
    background: none;
    padding-left: 388px;
    padding-bottom: 0px;
    padding-top: 20px;
}

#navrow4 {
    background: none;
    padding-left: 380px;
    padding-bottom: 10px;
    padding-top: 0px;
}

.tablist li {
    background: none;
}

.tablist a {
    background-image: none;
    text-shadow: none;
    font-weight: normal;
}

.tablist li.current a {background-image: none;color: #ffffff;text-shadow: none;background-color: #00c5eb;border-radius: 5px;font-weight: normal;}

.tablist a:hover {
    background-image: none;
    color: #5dd972;
    text-shadow: none;
    text-decoration: none;
}

#titlearea {position: absolute;/* top: 15px; */left: 155px;}

#nav-tree img {
    opacity: 1;
}

b {
    font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #00c5eb;
}

#MSearchField {
    height: 17px;
    font: 10pt 'open sans', sans-serif;
}
